<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Ingrese los datos para la dependencia</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div class="box-body">
        <div class="form-group mb10">
          <label for="nombre" class="col-sm-2">Nombre</label>
          <div class="col-sm-10">
            <input class="form-control" id="nombre" placeholder="Ingrese el nombre" type="text" formControlName="nombre">
            <div class="alert alert-warning mt10" role="alert"
                *ngIf="!rForm.controls['nombre'].valid  && rForm.controls['nombre'].touched">
              <span class="glyphicon glyphicon-warning-sign"></span> El campo es requerido y debe tener un mínimo de 3 caracteres.
            </div>
            <div class="alert alert-warning mt10" role="alert"
                *ngIf="error">
              <span class="glyphicon glyphicon-warning-sign"></span> {{mensajeError}}
            </div>
          </div>
        </div>
        
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <input type="submit" class="btn btn-primary pull-right" [disabled]="!rForm.valid" value="Guardar"/>
      </div>
    </form>
  </div>
</section>
