<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="http://126.10.10.29/img/CENSO2016/{{documento}}.bmp" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- Menu Principal para Inventario Informatica  -->
    <ul class="sidebar-menu" data-widget="tree"
        *ngIf="utilsService.findPermiso('inventario_informatica_menu_principal')">
      <li class="header">Menu Inventario Informatica</li>
      <li class="treeview" *ngIf="utilsService.findPermiso('inventario_informatica_menu_mantenimiento')">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Mantenimientos</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_producto')">
            <a routerLink="/prueba"><i class="fa fa-circle-o"></i>Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_tipo_producto')">
            <a routerLink="/prueba2"><i class="fa fa-circle-o"></i>Tipo de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_estado_producto')">
            <a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i>Estado de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_menu_dependencia')">
            <a routerLink="/menu-inventario-informatica/mantenimientos/dependencias" routerLinkActive="active"><i class="fa fa-circle-o"></i>Dependencias</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_proveedores')">
            <a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i>Proveedores</a></li>
        </ul>
      </li>
    </ul>

    <!-- Menu para Recaudaciones -->
    <ul class="sidebar-menu" data-widget="tree"
        *ngIf="utilsService.findPermiso('recaudaciones_menu_principal')">
      <li class="header">Menu Recaudaciones</li>
      <li class="treeview" *ngIf="utilsService.findPermiso('inventario_informatica_menu_mantenimiento')">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Mantenimientos</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_producto')"><a routerLink="/prueba"><i
            class="fa fa-circle-o"></i> Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_tipo_producto')"><a
            routerLink="/prueba2"><i class="fa fa-circle-o"></i> Tipo de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_estado_producto')"><a
            href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Estado de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_dependencia')"><a
            href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Dependencias</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_proveedores')"><a
            href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Proveedores</a></li>
        </ul>
      </li>
    </ul>

    <!-- Menu para RRHH -->
    <ul class="sidebar-menu" data-widget="tree"
        *ngIf="utilsService.findPermiso('rrhh_menu_principal')">
      <li class="header">Menu RRHH</li>
      <li class="treeview" *ngIf="utilsService.findPermiso('inventario_informatica_menu_mantenimiento')">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Mantenimientos</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_producto')"><a routerLink="/prueba"><i
            class="fa fa-circle-o"></i> Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_tipo_producto')"><a
            routerLink="/prueba2"><i class="fa fa-circle-o"></i> Tipo de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_estado_producto')"><a
            href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Estado de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_dependencia')"><a
            href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Dependencias</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_proveedores')"><a
            href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Proveedores</a></li>
        </ul>
      </li>
    </ul>

    <!-- Menu para Turnero -->
    <ul class="sidebar-menu" data-widget="tree"
        *ngIf="utilsService.findPermiso('turnero_menu_principal')">
      <li class="header">Menu Turnero</li>
      <li class="treeview" *ngIf="utilsService.findPermiso('inventario_informatica_menu_mantenimiento')">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Mantenimientos</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_producto')">
            <a routerLink="/prueba"><i class="fa fa-circle-o"></i> Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_tipo_producto')">
            <a routerLink="/prueba2"><i class="fa fa-circle-o"></i> Tipo de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_estado_producto')">
            <a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Estado de Productos</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_dependencia')">
            <a routerLink="/dependencia"><i class="fa fa-circle-o"></i> Dependencias</a></li>
          <li *ngIf="utilsService.findPermiso('inventario_informatica_operaciones_proveedores')">
            <a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Proveedores</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
