<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>
<section class="content">

  <!--<h2 id="page-heading">-->
  <!--<button *ngIf="utilsService.findPermiso('inventario_informatica_crear_dependencia')"-->
  <!--id="jh-create-entity" class="btn btn-primary float-left"-->
  <!--[routerLink]="['/task/new']">-->
  <!--&lt;!&ndash;<fa-icon [icon]="'plus'"></fa-icon>&ndash;&gt;-->
  <!--<i class="fa fa-plus"></i>-->
  <!--<span> Nueva Dependencia</span>-->
  <!--</button>-->
  <!--</h2>-->
  <!--<br/>-->

  <div class="box">
    <div class="box-body">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row" style="padding-bottom: 5px">
          <div class="col-sm-6">
            <button *ngIf="btnNuevaDependencia"
                    class="btn btn-primary float-left"
                    [routerLink]="['/menu-inventario-informatica/mantenimientos/dependencias/form-new']">
              <!--<fa-icon [icon]="'plus'"></fa-icon>-->
              <i class="fa fa-plus"></i>
              <span>Nuevo Menu</span>
            </button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-light"
                    (click)="volver()"
                    *ngIf="btnVolver"> Volver
            </button>

            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped dataTable">
              <thead>
                <tr role="row">
                  <th (click)="sortingPage('id')"
                      [ngClass]="setClasses('id')"
                      tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      style="width: 229.267px;" aria-sort="ascending"
                      aria-label="ID: activate to sort column descending">ID
                  </th>
                  <th (click)="sortingPage('nombre')"
                      [ngClass]="setClasses('nombre')" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      style="width: 289.483px;" aria-label="Nombre: activate to sort column ascending">Nombre
                  </th>
                  <th (click)="sortingPage('status')"
                      [ngClass]="setClasses('status')" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      style="width: 289.483px;" aria-label="Estado: activate to sort column ascending">
                    Estado
                  </th>
                  <th>
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" role="row" *ngFor="let menu of menus; let i = index">
                  <td>{{menu.id}}</td>
                  <td>{{menu.nombre}}</td>
                  <td>{{ menu.status == true ? 'Activado' : 'Desactivado' }}</td>
                  <td>{{menu.nivel}}</td>
                  <td>
                    <button type="button"
                            class="btn btn-info"
                            (click)="verSubMenu(menu)"
                            *ngIf="btnVerSubMenu">
                      Ver sub menus
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-pagination [page]="page" (paginationEvent)="changePage($event)"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
