<!--<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>-->
<section class="content">

       <table class="table table-bordered table-striped dataTable">
              <thead>
                <tr role="row">
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                    aria-label="Orden: activate to sort column ascending">
                                                    Dependencia
                  </th>
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                     aria-label="Nombre: activate to sort column ascending">
                                                     Movimiento
                  </th>
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                     aria-label="Estado: activate to sort column ascending">
                                                     Fecha
                  </th>
                </tr>
                                                    </thead>
              <tbody>
                <tr class="odd" role="row" *ngFor="let expediente of expedientes; let i = index">
                  <td>{{expediente.desDepen}}</td>
                  <td>{{expediente.desTipmov}}</td>
                  <td>{{expediente.fecAlta}}</td>

                  
                  <button type="button" class="btn btn-sm btn-light" (click)="getMovimientos(expediente.indEjefiscar,expediente.nroCarpeta)">
                      <i class="fa fa-eye"></i>
                      Ver Movimiento
                    </button>
                    <input type="button" value="Abrir ventana" onclick="window.open('nueva.html','nuevaVentana','width=300, height=400')" />
                 
                                 </tbody>
            </table>

</section>
